.main {
  margin-top: 110px;
  padding: 20px;
  z-index:-1;
}
.container.logo {
  position: fixed;
  width: 100%;
	background-color: #428bca;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    float: right;
  }
}
@media (min-width: 1200px){
  .container {
       width: auto;
  }
}
  
@media (min-width: 992px){
  .container {
       width: auto;
  }
}
  
@media (min-width: 768px){
  .container {
       width: auto;
  }
}
  

