.affix {
	top: 0;
	width: 100%;
}
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-style: none;
}
.navbar-inverse .navbar-toggle {
 	border-style: none;
}
.navbar-nav > li > .dropdown-menu, .navbar {
	border-radius: 0;
}
.dropdown-menu {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #efefef;
}
.navbar-inverse {
	background-image: none;
	background-color: black;
}
.dropdown-menu > li > a:hover {
	color: #536987; /* Blue color */
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 10pt;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #333333;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-toggle {
	border-radius: 0;
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}
.navbar-toggle {
  overflow: hidden;
}
/*.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}*/
@media (min-width: 768px){
	/*.navbar-nav {
    	display:table;
    	width:100%;
    	margin: 0;
	}
	.navbar-nav > li {
    	float:none;
    	display:table-cell;
    	text-align:center;
	}
	.container {
		width: default;
	}
	.caret-up {
		width: 0; 
		height: 0; 
		border-left: 4px solid rgba(0, 0, 0, 0);
		border-right: 4px solid rgba(0, 0, 0, 0);
		border-bottom: 4px solid;
		
		display: inline-block;
		margin-left: 2px;
		vertical-align: middle;
	}
	.navbar-nav > li > a {
    	padding-top: 20px;
    	padding-bottom: 20px;
	}*/
}
